<div class="container d-flex align-item-center justify-content-center">
  <form action="">
    <div class="form-group">
      <label for="text">Business Name</label>
      <input type="text" class="form-control m-2" />
    </div>
    <div class="form-group">
      <label for="text">Business Type</label>
      <select class="form-select" aria-label="Default select example">
        <option selected>...</option>
        <option value="1">Insurance</option>
        <option value="2">Private Company</option>
        <option value="3">Public Company</option>
      </select>
    </div>
  </form>
</div>
