<div class="container d-flex align-item-center justify-content-center">
  <form
    action="#"
    class="bg-dark bg-opacity-100 text-white p-3 border-start-0 rounded-4"
  >
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Business Name</label>
        <input type="text" class="form-control" />
      </div>
      <div>
        <label for="text" class="form-label">Business Type</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>...</option>
          <option value="1">Insurance</option>
          <option value="2">Private Company</option>
          <option value="3">Public Company</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Company Logo</label><br />
        <input type="file" (change)="onselectLogo($event)">
        <img [src]="url" width="100" alt=""><br>
      </div>
      <div>
        <label for="text" class="form-label">Banner</label><br />
        <input type="file" (change)="onselectBanner($event)">
        <img [src]="urls" width="100" alt=""><br>
      </div>
    </div>
    <div class="m-2">
      <div class="p-2 d-flex">
        <button class="btn ms-auto btn-danger">Cancel</button>
        <button class="btn ms-1 btn-success" >Save</button>
      </div>
    </div>
  </form>
</div>
