<div class="container mt-5 justify-content-around align-item-center d-flex">
  <div class="pricing-card">
    <div class="top-banner">
      <p>{{ title }}</p>
    </div>
    <div class="card-content">
      <div class="plan-header">
        <h3>{{ unit }}</h3>
      </div>
      <div class="price-section">
        <span class="price">${{ price }}</span>
        <span class="price-details">USD / month</span>
        <p class="billing-cycle">billed once yearly</p>
        <p class="subscription-credit">
          Earn up to $5,000 in subscription credits*
        </p>
      </div>
      <div class="detail">
        <p><strong>Card rates starting at</strong></p>
        <ul>
          <li>2.9% + 30¢ USD online</li>
          <li>2.8% + 10¢ USD in person</li>
          <li>2% 3rd-party payment providers</li>
        </ul>
        <p><strong>Standout detail</strong></p>
        <ul>
          <li>Up to 77% shipping discount</li>
          <li>10 inventory locations</li>
          <li>24/7 chat support</li>
          <li>Localized global selling (3 markets)</li>
          <li>POS Lite</li>
        </ul>
      </div>
    </div>
    <div class="m-2 justify-content-center d-flex">
      <button class="p-2 btn btn-success text-center">subscribe</button>
    </div>
  </div>
  <div class="pricing-card">
    <div class="top-banner">
      <p>{{ title }}</p>
    </div>
    <div class="card-content">
      <div class="plan-header">
        <h3>{{ unit }}</h3>
      </div>
      <div class="price-section">
        <span class="price">${{ price }}</span>
        <span class="price-details">USD / month</span>
        <p class="billing-cycle">billed once yearly</p>
        <p class="subscription-credit">
          Earn up to $5,000 in subscription credits*
        </p>
      </div>
      <div class="detail">
        <p><strong>Card rates starting at</strong></p>
        <ul>
          <li>2.9% + 30¢ USD online</li>
          <li>2.8% + 10¢ USD in person</li>
          <li>2% 3rd-party payment providers</li>
        </ul>
        <p><strong>Standout detail</strong></p>
        <ul>
          <li>Up to 77% shipping discount</li>
          <li>10 inventory locations</li>
          <li>24/7 chat support</li>
          <li>Localized global selling (3 markets)</li>
          <li>POS Lite</li>
        </ul>
      </div>
    </div>
    <div class="m-2 justify-content-center d-flex">
      <button class="p-2 btn btn-success text-center">subscribe</button>
    </div>
  </div>
  <div class="pricing-card">
    <div class="top-banner">
      <p>{{ title }}</p>
    </div>
    <div class="card-content">
      <div class="plan-header">
        <h3>{{ unit }}</h3>
      </div>
      <div class="price-section">
        <span class="price">${{ price }}</span>
        <span class="price-details">USD / month</span>
        <p class="billing-cycle">billed once yearly</p>
        <p class="subscription-credit">
          Earn up to $5,000 in subscription credits*
        </p>
      </div>
      <div class="detail">
        <p><strong>Card rates starting at</strong></p>
        <ul>
          <li>2.9% + 30¢ USD online</li>
          <li>2.8% + 10¢ USD in person</li>
          <li>2% 3rd-party payment providers</li>
        </ul>
        <p><strong>Standout detail</strong></p>
        <ul>
          <li>Up to 77% shipping discount</li>
          <li>10 inventory locations</li>
          <li>24/7 chat support</li>
          <li>Localized global selling (3 markets)</li>
          <li>POS Lite</li>
        </ul>
      </div>
    </div>
    <div class="m-2 justify-content-center d-flex">
      <button class="p-2 btn btn-success text-center">subscribe</button>
    </div>
  </div>
  <div class="pricing-card">
    <div class="top-banner">
      <p>{{ title }}</p>
    </div>
    <div class="card-content">
      <div class="plan-header">
        <h3>{{ unit }}</h3>
      </div>
      <div class="price-section">
        <span class="price">${{ price }}</span>
        <span class="price-details">USD / month</span>
        <p class="billing-cycle">billed once yearly</p>
        <p class="subscription-credit">
          Earn up to $5,000 in subscription credits*
        </p>
      </div>
      <div class="detail">
        <p><strong>Card rates starting at</strong></p>
        <ul>
          <li>2.9% + 30¢ USD online</li>
          <li>2.8% + 10¢ USD in person</li>
          <li>2% 3rd-party payment providers</li>
        </ul>
        <p><strong>Standout detail</strong></p>
        <ul>
          <li>Up to 77% shipping discount</li>
          <li>10 inventory locations</li>
          <li>24/7 chat support</li>
          <li>Localized global selling (3 markets)</li>
          <li>POS Lite</li>
        </ul>
      </div>
    </div>
    <div class="m-2 justify-content-center d-flex">
      <button class="p-2 btn btn-success text-center">subscribe</button>
    </div>
  </div>
</div>
