<!-- navbar -->
<nav class="navbar navbar-expand-sm navbar-secondary bg-info my-5">

    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Company Setup</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
  
        <ul class="navbar-nav me-auto">
  
          <li class="nav-item">
            <a class="nav-link " routerLink="template" routerLinkActive="active">Template</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active">Employee</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/client" routerLinkActive="active">Client</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link " routerLink="parent" routerLinkActive="active">Parent</a>
          </li>
  
        </ul>
  
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  
  </nav>
  <router-outlet></router-outlet>





<!-- form -->
<div class="row">
    <div class="col-8">

        
        <div class="card">
            <div class="card-header bg-info">
                <h6>Company Setup</h6>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                    <th>Email-Id</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                              
                            <tbody>
                              @for(item of employeeList; track $index){
                                <tr>
                                  <td>{{$index+1}}</td>
                                  <td>{{item.name}}</td>
                                  <td>{{item.contactNo}}</td>
                                  <td>{{item.emailId}}</td>

                                  <td class="text-center">
                                    <button class="btn btn-info" (click)="onEdit(item)">Edit</button>
                                    <button class="btn btn-danger mx-2" (click)="onDelete(item.empId)">Delete</button>
                                  </td>
                                </tr>
                              }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

    <div class="col-4 my-4">
        <div class="container">
            <div class="card">
                <div class="card-header bg-info">
                     Company Setup
                </div>
    
                <div class="card-body">
                    <form [formGroup]="employeeForm">
                        <div class="row">
                            <!-- <div class="col-12">
                                <label for="">Business Name</label>
                                <input type="text" formControlName="businessname" class="form-control">
                                <div class="text-danger">
                                  @if(employeeForm.controls['name'].touched){
                                    @if(employeeForm.controls['name'].errors?.['required']){
                                      <span>Name is Required</span>
                                    }
                                    
                                  }                                
                                </div>
                            </div> -->
                            
                            <!-- <div class="col-6 ">
                                <label for="">Email-Id</label>
                                <input type="text" formControlName="typeofbusiness" class="form-control">
                                <select class="form-select form-control" aria-label=".form-select-sm example">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>                  
                            </div>                        -->
        
                            <!-- <div class="col-6  d-flex my-4">
                                <label for="">Company Logo</label>
                                <input type="text" formControlName="companylogo" class="form-control">
                                <button class="btn btn-success ">Browse</button>                         
                            </div> -->

                            <!-- <div class="col-6  d-flex">
                              <label for="">Banner</label>
                              <input type="text"  formControlName="banner" class="form-control">
                             <button class="btn btn-success ">Browse</button>
                          </div> -->

                            <div class="col-12">
                              <label for="">Name</label>
                              <input type="text" formControlName="name" class="form-control">
                              <div class="text-danger">
                                @if(employeeForm.controls['name'].touched){
                                  @if(employeeForm.controls['name'].errors?.['required']){
                                    <span>Name is required</span>
                                  }                                  
                                }                               
                              </div>
                            </div>

                            <div class="col-6">
                              <label for="">Email-Id</label>
                              <input type="text" formControlName="emailId" class="form-control">
                            </div>

                            <div class="col-6">
                              <label for="">Contact No</label>
                              <input type="text" formControlName="contactNo" class="form-control">
                            </div>
                            
                            <div class="col-6">
                              <label for="">City</label>
                              <input type="text" formControlName="city" class="form-control">
                            </div>

                            <div class="col-6">
                              <label for="">State</label>
                              <input type="text" formControlName="state" class="form-control">
                            </div>

                            <div class="col-6">
                              <label for="">Pin Code</label>
                              <input type="text" formControlName="pinCode" class="form-control">
                              <div class="text-danger">
                                @if(employeeForm.controls['pinCode'].touched){
                                  @if(employeeForm.controls['pinCode'].errors?.['required']){
                                    <span>Name is required</span>
                                  }   
                                  @if(employeeForm.controls['pinCode'].errors?.['minlength']){
                                    <span>Min 6 char required</span>
                                  }                               
                                }                               
                              </div>
                            </div>

                            <div class="col-6">
                              <label for="">Address</label>
                              <textarea class="form-control" formControlName="address"></textarea>
                            </div>
                                                                  
                        </div>
        
                        <!-- button -->
                        <div class="row pt-2">
                            <div class="col-6 text-center">
                                <button class="btn btn-danger" type="button" (click)="reset()">Reset</button>
                            </div>
        
                            <div class="col-6 text-center">  
                              @if(employeeForm.controls['empid'].value == '1'){
                                <button type="button" class="btn btn-primary" [disabled]="employeeForm.invalid" (click)="onSave()">Save Employee</button>
                              }                                                       
                            </div>
                        </div>
                    </form>
                   

                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
 <!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark "
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white bg-info"
               
               >
        <!-- Left -->
        <div class="me-5 ">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Company name</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0DCAF0; height: 2px"
                  />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0DCAF0; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark getme">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-dark getme">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-dark getme">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-dark getme">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0DCAF0; height: 2px"
                  />
              <p>
                <a href="#!" class="text-dark">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #0DCAF0; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
              <p><i class="fas fa-envelope mr-3"></i> infoexample.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3 bg-info"
           
           >
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/"
           >MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->