<div class="container d-flex justify-content-center align-item-center">
  <form action="#" class="p-3 rounded-3 w-75 border border-2">
    <h3 class="text-center">Contact</h3>
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Contact Email</label>
        <input type="text" class="form-control" placeholder="Email" />
      </div>
      <div>
        <label for="text" class="form-label">Contact Name</label>
        <input type="text" class="form-control" placeholder="Name" />
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Phone</label>
        <input type="text" class="form-control" placeholder="Phone" />
      </div>
      <div>
        <label for="text" class="form-label">Address 1</label>
        <input type="text" class="form-control" placeholder="Address 1" />
      </div>
    </div>

    <div class="form-group">
      <div>
        <label for="text" class="form-label">Country</label>
        <!-- <input type="text" class="form-control" placeholder="Country" /> -->
        <select name="countries" id="country" class="form-select">
          <optgroup label="asia">
            <option value="">Cambodia</option>
            <option value="">Vietname</option>
            <option value="">India</option>
            <option value="">Japan</option>
            <option value="">Korea</option>
          </optgroup>
          <optgroup label="north-america">
            <option value="">United State</option>
            <option value="">Canada</option>
            <option value="">Cuba</option>
            <option value="">Mexico</option>
            <option value="">Jamaica</option>
          </optgroup>
        </select>
      </div>
      <div>
        <label for="text" class="form-label">State</label>
        <!-- <input type="text" class="form-control" placeholder="State" /> -->

        <select name="State" id="" class="form-select">
          <optgroup label="choose State">
            <option value="">New York</option>
            <option value="">CA</option>
            <option value="">Phnom Penh</option>
            <option value="">LA</option>
            <option value="">Hanio</option>
          </optgroup>
        </select>
      </div>
      <div>
        <label for="text" class="form-label">City</label>
      </div>
    </div>
  </form>
</div>
