<div class="container d-flex justify-content-center align-item-center">
  <form action="#" class="p-3 rounded-4 w-75 border border-2">
    <h3 class="text-center">Contact</h3>
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Contact Email</label>
        <input type="text" class="form-control" placeholder="Email" />
      </div>
      <div>
        <label for="text" class="form-label">Contact Name</label>
        <input type="text" class="form-control" placeholder="Name" />
      </div>
    </div>
    <div class="form-group">
      <div>
        <label for="text" class="form-label">Phone</label>
        <input type="text" class="form-control" placeholder="Phone" />
      </div>
      <div>
        <label for="text" class="form-label">Address 1</label>
        <input type="text" class="form-control" placeholder="Address 1" />
      </div>
    </div>

    <div class="form-group">
      <div>
        <label for="text" class="form-label">Country</label>
        <!-- <input type="text" class="form-control" placeholder="Country" /> -->
        <select name="countries" id="country" class="form-select">
          <optgroup label="asia">
            <option value="cambodia">Cambodia</option>
            <option value="cambodia">Vietname</option>
            <option value="cambodia">India</option>
            <option value="cambodia">Japan</option>
            <option value="cambodia">Korea</option>
          </optgroup>
          <optgroup label="north-america">
            <option value="cambodia">United State</option>
            <option value="cambodia">Canada</option>
            <option value="cambodia">Cuba</option>
            <option value="cambodia">Mexico</option>
            <option value="cambodia">Jamaica</option>
          </optgroup>
        </select>
      </div>
      <div>
        <label for="text" class="form-label">State</label>
        <input type="text" class="form-control" placeholder="State" />
      </div>
      <div>
        <label for="text" class="form-label">City</label>
      </div>
    </div>
  </form>
</div>
