table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 3px solid cyan;
  padding: 15px;
  text-align: center;
  color: whitesmoke;
}
th {
  background-color: hotpink;
}

td {
  background-color: rgb(49, 49, 49);
}
.container {
  margin-top: 100px;
}
