<div class="container">
  <button class="bt">Add new Store</button>
  <div class="row">
    <div class="col-12">
      <table>
        <tr>
          <th>Store-Name</th>
          <th>Address</th>
          <th>Bussiness-name</th>
          <th>Bussiness-Type</th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a
              href="#"
              class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Edit</a
            >
            &nbsp;&nbsp;
            <a
              href="#"
              class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Close</a
            >
            &nbsp;&nbsp;
            <a
              href="#"
              class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Store Hour</a
            >
            &nbsp;&nbsp;
            <a
              href="#"
              class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Store Holiday</a
            >
            &nbsp;&nbsp;
            <a
              href="/src/app/Temclose/temclose.component.html"
              class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Temporary Close</a
            >
            &nbsp;&nbsp;
            <a
              href="#"
              class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Open</a
            >
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
