<div class="container">
  <form action="">
    <div class="row">
      <div class="col">
        <h4>address billing</h4>
        <div class="inputbox">
          <span>Name :</span>
          <input type="text" placeholder="enter Name" />
        </div>
        <div class="inputbox">
          <span>Email :</span>
          <input type="email" placeholder="enter email" />
        </div>
        <div class="inputbox">
          <span>Add :</span>
          <input type="text" placeholder="enter add" />
        </div>
        <div class="inputbox">
          <span>City :</span>
          <input type="text" placeholder="enter City" />
        </div>

        <div class="flex">
          <div class="inputbox">
            <span>state :</span>
            <input type="text" placeholder="enter state" />
          </div>
          <div class="inputbox">
            <span>zipecode :</span>
            <input type="text" placeholder="enter zipecode" />
          </div>
        </div>
      </div>

      <div class="col">
        <h4>payment</h4>

        <div class="inputbox">
          <span>card accepted :</span>
          <img src="../../assets/img/card-accepted.webp" alt="" />
        </div>
        <div class="inputbox">
          <span>card name :</span>
          <input type="text" placeholder="card name" />
        </div>
        <div class="inputbox">
          <span>card number :</span>
          <input type="number" placeholder="1111 - 2222 - 3333" />
        </div>
        <div class="inputbox">
          <span>exp date :</span>
          <input type="date" placeholder="" />
        </div>
        <div class="inputbox">
          <span>card type :</span>
          <input type="text" />
        </div>
      </div>
    </div>

    <div class="mt-3">
      <button class="btn btn-danger g-3">cancel</button>
      <button type="submit" class="btn btn-success submit-btn">save</button>
    </div>
  </form>
</div>
<br />
<br />
